/* @import url('https://fonts.googleapis.com/css2?family=Hanuman&family=Roboto&family=Ubuntu&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Hanuman&family=Hind+Guntur&family=Roboto&family=Ubuntu&display=swap'); */
    @import url('https://fonts.googleapis.com/css2?family=Hanuman&family=Hind+Guntur&family=Hind+Madurai&family=Roboto&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: rgb(11, 26, 35);
    height: 100vh;
}

.main-box{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding : 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
    flex: 6;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}
.nav-bottom{
    overflow: hidden;
    padding: 10px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: center;
}

.nav-bottom ul{
    float: right;
}

.nav-bottom li {
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-family: 'Hanuman', serif;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}
.nav-bottom li a{
    color:white;
}

.nav-bottom a{
    text-decoration: none;
}

.nav-bottom a:before{
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 0;
    background: rgb(224, 224, 224);
    border-radius: 50px;
    transition: width 0.2s ease;
    cursor: pointer;
}

.nav-bottom a:hover:before{
    width: 30%;
}

.box-body{
    display: flex;
    padding: 20px;
    flex: 4;
}

.left-box{
    width: 60%;
    padding: 20px;
}

.left-box::before{
    content: "";
    position: absolute;
    top: 40%;
    left: 8%;
    height: 45%;
    width: 30%;
    background-image: url(/static/images/background-shape.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.left-box h1{
    font-size: 50px;
    padding: 40px;
    color: rgba(13, 31, 128, 1);
    font-family: 'Hanuman', serif;
}

.left-box h3{
    font-size: 32px;
    padding: 0px 40px 20px 40px;
    color: rgb(26, 57, 209);
    font-family: 'Hind Guntur', sans-serif;
}

.left-box p{
    font-size: 23px;
    padding: 0px 40px 20px 40px;
    font-family: 'Hind Guntur', sans-serif;
    font-weight: 600;
}

 .services{
    width: 170px;
    height: 50px;
    margin: 20px 40px 20px 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    background-color: #0c1a5d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
    font-family: 'Hind Madurai', sans-serif;
    color: white;
    cursor: pointer;
}

.services:hover{
    background-color: rgb(213, 213, 213);
    color: black;
    cursor: pointer;
}

.right-box{
    width: 40%;
    padding: 15px 50px 25px 0px;
}

.right-box img{
    padding: 15px 15px 15px 0px;
    width: 100%;
    height: auto;
}
.cardArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #0c1a5d;
    border: 1px solid #ddd;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px; 
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background-color: white;

}

.cardContent {
    padding: 20px; 
    text-align: center;
    font-size: 18px; 
    font-weight: bold;
    color: #f4f4f4; 
    font-family: 'Hind Madurai', sans-serif;
}
.cardContent:hover{
    color: #0c1a5d;
}
.serviceRef {
    text-decoration: none;
}

